!markers/Makefile
!markers/markers.org
!pilot/Makefile
!pilot/all.ps
!pilot/pilot.org
!tutorial/intro.sh
!tutorial/markers.sh
!tutorial/pilot.sh
!tutorial/query.sh
*~
data
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.dvi
doc/*.log
doc/*.out
doc/*.pdf
doc/*.toc
doc/date.txt
doc/intro.tex
doc/k12.tex
doc/markers.tex
doc/o111h8.tex
doc/o145.tex
doc/o157h7.tex
doc/o16h48.tex
doc/o25bh4.tex
doc/pilot.tex
doc/query.tex
doc/version.txt
eco.json
eco.nwk
eco.txt
eco2.nwk
intro/intro.sh
k12/k12.sh
k12/k12.txt
markers/*
mlst.txt
neidb
o111h8/o111h8.sh
o145/o145.sh
o157h7/o157h7*.txt
o157h7/o157h7.sh
o16h48/o16h48.sh
o25bh4/o25bh4.sh
pilot/*
query/*.sh
sero.txt
tutorial
