*~
data
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.dvi
doc/*.log
doc/*.out
doc/*.pdf
doc/*.toc
doc/pilot.tex
doc/query.tex
doc/intro.tex
doc/markers.tex
doc/version.txt
doc/date.txt
doc/k12.tex
doc/o111h8.tex
doc/o145.tex
doc/o157h7.tex
doc/o16h48.tex
doc/o25bh4.tex
intro/intro.sh
pilot/*
!pilot/all.ps
!pilot/Makefile
!pilot/pilot.org
query/*
!query/all.ps
!query/Makefile
!query/query.org
!query/eco2.ps
tutorial
!tutorial/intro.sh
!tutorial/pilot.sh
!tutorial/query.sh
!tutorial/markers.sh
markers/*
!markers/Makefile
!markers/markers.org
sero.txt
eco2.nwk
mlst.txt
neidb
k12/k12.sh
o111h8/o111h8.sh
o145/o145.sh
o157h7/o157h7.sh
o157h7/o157h7*.txt
o16h48/o16h48.sh
o25bh4/o25bh4.sh
