!markers/Makefile
!markers/markers.org
pilot/pilot.fasta
pilot/rename.sh
!tutorial/intro.sh
!tutorial/markers.sh
!tutorial/pilot.sh
!tutorial/query.sh
*~
data
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.dvi
doc/*.log
doc/*.out
doc/*.pdf
doc/*.toc
doc/date.txt
doc/intro.tex
doc/k12.tex
doc/markers.tex
doc/o111h8.tex
doc/o145.tex
doc/o157h7.tex
doc/o16h48.tex
doc/o25bh4.tex
doc/pilot.tex
doc/query.tex
doc/version.txt
eco.json
eco.nwk
eco.txt
eco2.nwk
k12/k12.txt
markers/*
!markers/markers.sh
mlst.txt
neidb
o157h7/o157h7*.txt
query/*.sh
sero.txt
tutorial
